*{
    padding:0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    scroll-behavior: smooth;
}
:root{
    --red-color--:#d80000;
    --general-color:#ca0000;
    --primery-color--:#00115e;
    --blue-color--:#0024c5;
    --drop-color--:#730096;
    --drop-text-color--:#ffffff;
}
// global
h1,h2,h3,h4,h5,h6{
    text-transform: capitalize;
}
// end
header{
    background-size: cover;
    background-position: center;
    background-image: url(../images/header-bg.png);
    background-attachment: fixed;
    display:block;
    width: 100%;
    height: 100vh;
    nav{
        display: block;
        width: 100%;
        height: 75px;
        position:absolute;
        top: 0;
        left: 0;
        background-color: var(--primery-color--);
        z-index: 999999;
        transition: all 0.5s ease;
        .logo-sec{
            float: left;
            width:  30%;
            height: 100%;
            display: flex;
            align-items: center;
            color: #fff;
            padding: 10px 30px;
            box-sizing: border-box;
        }
        .list-sec{
            float: right;
            width: 70%;
            height:100%;
            display:flex;
            align-items:center;
            justify-content: flex-end;
            color: #fff;
            font-weight:700;
            box-sizing: border-box;
    
            .list-items{
                float: right;
                .active{
                    font-size: 18px;
                    color: var(--general-color)!important;
                }
                
                .item{
                    list-style:none;
                    display: inline-block;
                    
                    
                    a{
                        text-transform:capitalize;
                        padding: 20px 40px;
                        text-decoration:none;
                        color:#fff;
                        display: flex;
                        align-items: center;
                    
                    }
                    >a:hover{
                        color: var(--general-color)!important;
                        transition: 0.4s ease;
                    }
                    
                }
            }
            
        }
    }
    .header-content{
        width: 80%;
        margin: 0 auto;
        .header-head{
            text-align: center;
            font-weight: bold;
            top: 100px;
            position: relative;
            
            h1{
                font-size: 40px;
                color:#570000
            }
            p{
                color: var(--primery-color--);
                font-size: 17px;
                max-width: 600px;
                margin: 10px auto;
            }
        }      
    }
    
}
.drop-down{
    animation: drop-down 0.4s ease;
}
.drop-up{
    animation: drop-up 0.4s ease;

}


.rotate-in{
    animation: rotate-in 0.4s linear;

}
.rotate-out{
    animation: rotate-out 0.4s linear;

}
.rotate-in1{
    animation: rotate-in1 0.4s linear;

}
.rotate-out1{
    animation: rotate-out1 0.4s linear;

}


.slide-left{
    animation: slide-left 0.4s linear;

}

.slide-right{
    animation: slide-right 0.4s linear;

}


@keyframes slide-left{
    0%{
        right: -200px;
    }
    100%{
        right: 0;
    }
}
@keyframes slide-right{
    0%{
        right: 0;
    }
    100%{
        right: -200px;
    }
}
@keyframes rotate-out{
    0%{
        top: 50%;
        
        transform: rotate(-45deg);
    }
    100%{
        top: 4px;
        
        transform: rotate(0deg);

    }
}
@keyframes rotate-in{
    0%{
        // top: 0;
        
        transform: rotate(0deg);
    }
    100%{
        // top: 50%;
        transform: rotate(-45deg);

    }
}
@keyframes rotate-out1{
    0%{
        top: 50%;
        transform: rotate(45deg);
    }
    100%{
        top: 24px;
        transform: rotate(0deg);

    }
}
@keyframes rotate-in1{
    0%{
        // top: 0;
        transform: rotate(0deg);
    }
    100%{
        // top: 50%;
        transform: rotate(45deg);

    }
}
@media (max-width:1100px){   
    .list-sec{
        right: -200px;
        z-index: 99;
        position: fixed;
        min-width: 200px;
        max-width: 200px;
        height:100%;
        display:flex;
        justify-content: center;
        color: #fff;
        font-weight:700;
        background-color: var(--primery-color--);
        .nav-but{
            position: absolute;
            top: 20px;
            left: -35px;
            width:30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            span{
                width: 25px;
                height: 3px;
                background-color: #fff;
                
            }
        }
        .list-items{
            float: right;
            .active{
                font-size: 18px;
                color: var(--general-color)!important;
            }
            
            .item{
                list-style:none;
                display: inline-block;
                
                
                a{
                    text-transform:capitalize;
                    padding: 20px 40px;
                    text-decoration:none;
                    color:#fff;
                    display: flex;
                    align-items: center;
                
                }
                >a:hover{
                    color: var(--general-color)!important;
                    transition: 0.4s ease;
                }
                
            }
        }
        
    }
}
@keyframes slide-left{
    0%{
        right: -200px;
    }
    100%{
        right: 0;
    }
}
@keyframes slide-right{
    0%{
        right: 0;
    }
    100%{
        right: -200px;
    }
}
.template{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    h2{
        padding: 10px 0;
        
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        &::after{
            content: '';
            width: 130px;
            background-color: var(--primery-color--);
            height: 4px;
            position: absolute;
            bottom: 5px;
            left: 0;
        }   
    }
    .templates{
        margin-top: 20px  ;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 50px 20px;
        grid-column-gap:20px ;
        align-items: center;
        img{
            box-shadow: 0 0 5px 2px #000;
            border-radius: 10px;
            width: 100%;
        }  
        .description{
            h4{
                position: relative;
                font-size: 18px;
                padding: 10px 0;
                &::after{
                    content: '';
                    width: 90px;
                    background-color: var(--primery-color--);
                    height: 4px;
                    position: absolute;
                    bottom: 5px;
                    left: 0;
                }   
            }
            p{
                font-weight: 600;
            }  
        }
          
    }
}
.contact{
    h2{
        padding: 10px 0;
        
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        &::after{
            content: '';
            width: 100px;
            background-color: var(--primery-color--);
            height: 4px;
            position: absolute;
            bottom: 5px;
            left: 0;
        }   
    }
    padding: 10px;
    .container{
        display:flex;
        justify-content: center;
        align-items: center;
        padding: 100px 0;
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;
            .info{
                display: grid;
                grid-template-rows: repeat(3,1fr);
                grid-gap: 20px;
                
            }
            input{
                text-transform: capitalize;
                display: block;
                padding: 10px 20px;
                border-radius: 10px;
                border: 2px solid var(--primery-color--);
                
            }
            .msg{
                display: grid;
                grid-template-rows: 80% 20%;
                input{
                    border: none;
                    background-color: #000;
                    color: #fff;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: var(--blue-color--);
                        color: #000;
                    }
                }
                textarea{
                    text-transform: capitalize;
                    margin-bottom: 10px;
                    padding: 10px 20px;

                    border-radius: 10px;
                    border: 2px solid var(--primery-color--);
                }
            }
        }
    }
}
.about{
    h2{
        padding: 10px 0;
        
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        &::after{
            content: '';
            width: 70px;
            background-color: var(--primery-color--);
            height: 4px;
            position: absolute;
            bottom: 5px;
            left: 0;
        }   
    }
    .social-media{
        padding:50px 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 300px;
        .social{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                
                width: 20%;
                transition:all 0.4s ease;

                label{
                    cursor: pointer;
                    svg{
                        
                        width: 100%;
                    }
                    
                    
                }
                &:hover{
                    width: 30%;
                }
            }
            
            
        
        }
    }
}